

body {
}


.containerMain {
    margin-left: 10rem;
    margin-top: 2rem;
    height: 100vh;
    max-width: 920px;
    background-color: #FFFF;
    box-shadow: 2px 0px 60px 2px rgb(53, 43, 81, 0.10);
    padding: 2rem;
}

.form-button_container {
    padding: 3rem 0;
    float: right;
}


.img-thumbnail {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.buttonUpload_imagem {
    background-color: #EADDFF;
    color: #F7F2F9;
}

/*Título*/
.title {
    padding-bottom: 1rem;
}

.container_foto-data {
    padding-bottom: 1rem;
}

.botoesForm {
    text-align: right;
}

.button_cancelar {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.btn-primary {
    background-color: var(--bs-primary);
    color: var(--corBanco);
    border: var(--bs-primary);
}



