@{
    ViewData["Title"] = "Home Page";
}

<nav>
    <ul class="navbar">
        <li>            
            <a class="nav-item"  asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/css/Assets/func-adm.svg" class="nav-image" alt="...">
                Funcionário
            </a>
        </li>
        <li>
            <a class="nav-item" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/css/Assets/depart-plus.svg" class="nav-image" alt="...">
                Departamento
            </a>
        </li>
        <li>
            <a class="nav-item" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/css/Assets/dashboard-adm.svg" class="nav-image" alt="...">
                Dashboard
            </a>
        </li>
        <li>
            <a class="nav-item" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/css/Assets/wbs-adm.svg" class="nav-image" alt="...">
                WBS
            </a>
        </li>
        <li>
            <a class="nav-item" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/css/Assets/myte-adm.svg" class="nav-image" alt="...">
                MyTE
            </a>
        </li>
        
    </ul>   
</nav>
